@use "../variables/" as *;

.home {
  display: flex;
  justify-content: center;
  padding: 1rem;
  &__currentPrice {
    background-color: $color-orange;
    padding: 1rem;
    border: 1px solid $color-green;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    font-weight: 600;
    font-size: 35px;
    color: $color-black;
  }
}
