@use "../variables/" as *;

.home {
  padding: 1rem;
  :global(.ant-radio-button-wrapper) {
    border-color: $color-gray !important;
    background-color: $color-background;
    color: $color-black;
    overflow: hidden;
    &:hover {
      color: $color-black;
    }
    &.checked {
      background-color: $color-green;
    }
  }

  :global(.ant-radio-button-checked) {
    background-color: $color-green;
  }

  &__calc {
    @include flex(flex-start, column);
    align-items: center;
  }
}
