@use "./../variables/" as *;

.header {
  @include flex(start, row);
  align-items: center;
  padding-left: 1rem;
  background-color: $color-green;
  color: $color-white;
  :global(.ant-menu) {
    background-color: $color-green;
  }
}
