@use "../variables/" as *;

.priceSection {
  @include flex(center, row);
  flex-wrap: wrap;
  gap: 1rem;
  &__box {
    min-height: 10rem;
    width: 15rem;
    @media (max-width: 576px) {
    }
    @include flex(flex-start, column);
    align-items: center;
    background-color: $color-green;
    padding: 1rem;
    border: 1px solid $color-gray;
    border-radius: 8px;
    @include box-shadow;

    &__difference {
      font-weight: 600;
      font-size: 20px;
    }
    &__price {
      font-weight: 600;
      font-size: 60px;
      // min-height: 5vh;
      span {
        font-size: 15px;
      }
    }
  }
}
