@use "../variables/" as *;

.priceSection {
  @include flex(flex-start, row);
  gap: 1rem;
  &__box {
    min-width: 20vw;
    @include flex(flex-start, column);
    align-items: center;
    background-color: $color-green;
    padding: 1rem;
    border: 1px solid $color-gray;
    border-radius: 8px;
    @include box-shadow;

    &__difference {
      font-weight: 600;
      font-size: 20px;
    }
    &__price {
      font-weight: 500;
      font-size: 40px;
      min-height: 5vh;
      span {
        font-size: 20px;
      }
    }
  }
}
