@use "../variables/" as *;

.calculatorSettings {
  @include flex(start, row);

  gap: 2rem;
  &__box {
    @include flex(start, column);
    gap: 5px;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    span {
      text-align: center;
    }
  }
}
