@use "../variables/" as *;

.priceCalculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  &__settings {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    &__box {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-weight: 500;
      font-size: 20px;
      align-items: center;
      span {
        text-align: center;
      }
    }
  }
  &__priceBoxes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    &__currentPriceBox {
      min-width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-green;
      padding: 1rem;
      border: 1px solid $color-gray;
      border-radius: 8px;
      box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      &__difference {
        font-weight: 600;
        font-size: 20px;
      }
      &__price {
        font-weight: 500;
        font-size: 40px;
        min-height: 5vh;
        span {
          font-size: 20px;
        }
      }
    }
  }
  &__graph {
    width: 70vw;
    height: 30vh;
  }
  &__devices {
    &__select {
      min-width: 150px;
    }
  }
}
