@use "../variables/" as *;

.priceCalculator {
  @include flex(center, column);
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  &__graph {
    width: 90vw;
    height: 30vh;
    @media (max-width: 768px) {
      width: 100vw;
      padding-right: 2rem;
    }
  }
  &__devices {
    @include flex(center, row, 1rem);
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    :global(.ant-input-number) {
      @include flex(center, row);
      align-items: center;
      width: 50px;
      min-height: 40px;
    }
    &__select {
      min-width: 170px;
      &__option {
        @include flex(flex-start, row, 5px);
        align-items: center;
      }
    }
  }
}
